---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <!-- Need to add data-astro-reload to make the login work with ViewTransitions. See: https://github.com/withastro/astro/issues/12080 -->
        <form id="loginOAuth" action="/api/auth/signin" method="post" data-astro-reload>
            <button value="google" name="provider" type="submit">
                Login with Google
            </button>
        </form>
    </main>
</Layout>
