---
import LayoutNoTransition from "../layouts/LayoutNoTransition.astro";
---

<LayoutNoTransition title="Welcome to Astro.">
    <main>
        <form id="loginOAuth" action="/api/auth/signin" method="post">
            <button value="google" name="provider" type="submit">
                Login with Google
            </button>
        </form>
    </main>
</LayoutNoTransition>
