---
import { actions } from "astro:actions";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Successfully logged in">
    <main>
        <h1>Logged In</h1>
    </main>

    <form method="POST" action={actions.signOut}>
        <button type="submit">Sign out</button>
    </form>
</Layout>
